<% if game.player1.nil? || game.player2.nil? %>
<li>
  <% if game.player1 != nil %>
    <% user = game.player1 %>
    <% text = "You will play in black side" %>
  <% else %>
    <% user = game.player2 %>
    <% text = "You will play in white side" %>
  <% end %>
  <% if user != nil %>
    Your opponent:
    <%= gravatar_for user, :size => 20 %>
    <%= user.name %>.
    <%= text %>
    <% path = "/joingame/"+game.id.to_s %>
    <%= link_to "Play", path, :class => "play_button round" %>
  <% else %>
    <%= gravatar_image_tag("d@d.r", :gravatar => { :size => 20 }) %>
  <% end %>
</li>
<% end %>