<table id="player_2">
	  <%= render 'player_2' %>
</table>

	<table id="GameField" class="gameboard">
	  <%= render 'gameboard' %>
	</table>
	
<table id="player_1">
	  <%= render 'player_1' %>
</table>

    <%= render 'makemove' %>
    <%= render 'update_form' %>