<table>
  <tr>
      <td class="player round">
	  <% if @player2.nil? %>
        Waiting for opponent
	  <% else %>
        <%= gravatar_for @player2 %>
        <%= @player2.name %>
        <% if @player2 == @current_player %>
          <%= (You) %>
        <% end %>
	  <% end %>
      </td>
  </tr>		
	</table>
	<table id="GameField">
	  <%= render 'gameboard' %>
	</table>
	<table>
  <tr>
      <td class="player round">
	  <% if @player1.nil? %>
        Waiting for opponent
	  <% else %>
        <%= gravatar_for @player1 %>
        <%= @player1.name %>
        <% if @player1 == @current_player %>
          <%= (You) %>
        <% end %>
	  <% end %>
      </td>
  </tr>	
</table>
    <%= render 'makemove' %>